.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    margin: -1px;
}

button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-family: "spoqa_regular", "맑은 고딕", "Malgun Gothic", sans-serif;
    font-size: 18px;
    cursor: pointer;
    overflow: visible;
    white-space: nowrap;
}